##TRUE BASICS

#create a variable for reuse
varname <- value 

#access the objects in the workspace
ls()

#remove a variable
rm()
rm(list = ls()) #remove all the variables in the workspace

#basic arithmetic oepration
#additio +, subtraction -, multiplication *, division /, exponentiation ^, modulo %%, pi pi 

## BASIC DATA TYPES: logical, numeric, integer, character
is.*()  #check whether *class is right for this variable
as.*()  #coercion, transform to * class 
class()  #show the class of the variable


##Vector: sequence of the same class of data element 
#create a vector variable
vector_variable <- c()

#Attach labels to vector elements
names(vector_variable) <- c(label1, label2,...) 

#OR, create a name-vector variable
name_variable <- c(label1, label2,...)
name(vector_variable) <- name_variable

